ul li.complete{
    text-decoration: line-through;
}
/* ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
} */
ul li span:hover{
    background: #edeef0;
}
